*
{
  box-sizing: border-box;
}

body 
{
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin:auto;
}

a
{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p
{
  margin: 0;
  padding: 0;
}

ul, li
{
  text-decoration: none;
  list-style: none;
}